<div class="container">
  <div  class="row">
    <div class="col-11">
      <%= form_with model: @post, local:true do |f| %>
        <% f.label :body %>
        <%= f.text_area :body %>
        <div>
          <%= f.label :images, 'ç”»åƒ' %>
          <%= f.file_field :images, multiple: true %>
          <%= f.file_field :images, multiple: true %>
          <%= f.file_field :images, multiple: true %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      <% if @posts %>
        <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
            <%= post.body %>
            <% post.images.each do |image| %>
              <%= image_tag(image, width:100) %>
            <% end %>
            <div>
              <% if Like.find_by(post_id: post.id, ip: request.remote_ip) %>
                <%= link_to 'ðŸ‘ã‘ã—ãŸã„', post_likes_path(post), method: :delete %>
              <% else %>
                <%= link_to 'ðŸ‘ã—ãŸã„', post_likes_path(post), method: :post %>
              <% end %>
              <%= Like.where(post_id: post.id).count %>
            </div>
            <div>
              <% if Dislike.find_by(post_id: post.id, ip: request.remote_ip) %>
                <%= link_to 'ðŸ‘Žã‘ã—ãŸã„', post_dislikes_path(post), method: :delete %>
              <% else %>
                <%= link_to 'ðŸ‘Žã—ãŸã„', post_dislikes_path(post), method: :post %>
              <% end %>
              <%= Dislike.where(post_id: post.id).count %>
            </div>
          <% end %>
        <% end %>
        <%= paginate @posts %>
      <% end %>
    </div>
  </div>
</div>


