<div class="container">
  <div  class="row">
    <div class="col-12">
      <%= form_with model: @post, local:true do |f| %>
        <% f.label :body %>
        <%= f.text_area :body %>
        <div>
          <%= f.label :images, 'ç”»åƒ' %>
          <!-- ctrl,commandã‚’æŠ¼ä¸‹ã—ãªãŒã‚‰ã§è¤‡æ•°é¸æŠžã€‚ã‚¹ãƒžãƒ›ã§ã©ã†ãªã‚‹ã‹è¦æ¤œè¨¼ -->
          <%= f.file_field :images, multiple: true %>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      <% if @posts %>
      <div class="container">
        <div class="row"></div>
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </div>
        <% @posts.each do |post| %>

          <%= link_to post_path(post.id) do %>
            <%= safe_join(post.body.split("\n"),tag(:br))  %>
            <div>
              <% post.images.each do |image| %>
                <%= image_tag(image, width:150) %>
              <% end %>
            </div>
            <div>
              <% if Like.find_by(post_id: post.id, ip: request.remote_ip) %>
                <%= link_to 'ðŸ‘', post_likes_path(post), method: :delete %>
              <% else %>
                <%= link_to 'ðŸ‘', post_likes_path(post), method: :post %>
              <% end %>
              <%= Like.where(post_id: post.id).count %>

              <% if Dislike.find_by(post_id: post.id, ip: request.remote_ip) %>
                <%= link_to 'ðŸ‘Ž', post_dislikes_path(post), method: :delete %>
              <% else %>
                <%= link_to 'ðŸ‘Ž', post_dislikes_path(post), method: :post %>
              <% end %>
              <%= Dislike.where(post_id: post.id).count %>
            </div>
          <% end %>
          <div>
            ã‚³ãƒ¡ãƒ³ãƒˆæ•°ï¼š<%= post.comments.count %>
          </div>

        <% end %>
        <%= paginate @posts %>
      <% end %>
    </div>
  </div>
</div>


