<br>
<br>
<br>
<br>
<div class="post-container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <%= safe_join(@post.body.split("\n"),tag(:br))  %>

          <div>
            <% @post.images.each do |image| %>
            <div>
              <%= image_tag(image, width:400) %>
            </div>
            <% end %>
          </div>
          <div>
            <% if @post.youtube_url %>
              <iframe class="video" src="https://www.youtube.com/embed/<%= @post.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
            <% end %>
          </div>


        </div>
        <div class="card-footer">
          <div>
            <% if user_signed_in? %>

              <% if Favorite.find_by(post_id: @post.id, user_id: current_user.id) %>
                <%= link_to post_favorites_path(@post),method: :delete ,class:"btn btn-primary mb-2" do %>
                  お気に入り登録解除
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(@post),method: :post,class:"btn btn-primary mb-2" do %>
                  お気に入り登録
                <% end %>
              <% end %>

            <% end %>
            <% if user_signed_in? && current_user.name == "admin" %>
              <%= link_to post_path(@post),method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger mb-2 " do %>
                投稿を削除する
              <% end %>
            <% end %>
          </div>
          <div>
            <span id="post_<%= @post.id %>">
              <%= render'likes/like-btn',post: @post %>
            </span>
            <span id="post_dislike_<%= @post.id %>">
              <%= render'dislikes/dislike-btn',post: @post %>
            </span>
          </div>
          <div>
            コメント数：<%= @post.comments.count %>/
            投稿日:<%= @post.created_at.strftime('%Y年%m月%d日') %>/
            最終更新:<%= distance_of_time_in_words(@post.updated_at, Time.now) %>前
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <br>
    <h4>コメント</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-body">
          <%= safe_join(comment.body.split("\n"),tag(:br))  %>
          <div>
            <% comment.images.each do |image| %>
              <%= image_tag(image, width:350) %>
            <% end %>
          </div>
        </div>
        <div class="card-footer">
          <div>
            <span id="comment_<%= comment.id %>">
              <%= render'comment_likes/comment_like-btn',comment: comment %>
            </span>
            <span id="comment_dislike_<%= comment.id %>">
              <%= render'comment_dislikes/comment_dislike-btn',comment: comment %>
            </span>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class="row">
    <%= form_with model: @comment ,local: true do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <% f.label :body %>
      <%= f.text_area :body,class:"form-control" %>
      <div>
        <%= f.label :images, '画像' %>
        <%= f.file_field :images, multiple: true %>
      </div>
      <%= f.submit "投稿する", class:"btn btn-primary mb-2" %>
    <% end %>
  </div>
</div>

