<!DOCTYPE html>
<html>
  <head>
    <title>PokerHack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-info text-white">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <h1 class="header-link">
              <%= link_to posts_path do %>
                PokerHack
              <% end %>
            </h1>
          </div>
          <div class="col-4">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field :body %>
              <%= f.submit '検索' %>
            <% end %>
            <% if user_signed_in? %>
            <div class="header-link">
              <%= link_to destroy_user_session_path , method: :delete do %>
                Log out
              <% end %>
              <%= link_to favorites_path do %>
                Favorite
              <% end %>
            </div>
            <% else %>
            <div class="header-link">
              <%= link_to new_user_session_path do %>
                 Log in
              <% end %>
              <%= link_to  new_user_registration_path do %>
                Sign up
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
