<!DOCTYPE html>
<html>
  <head>
    <title>PokerHack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <h1>
          <%= link_to posts_path do %>
            PokerHack
          <% end %>
        </h1>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            Log out
          <% end %>
          <%= link_to favorites_path do %>
            Favorite
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            Log in
          <% end %>
          <%= link_to  new_user_registration_path do %>
            Sign up
          <% end %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
